extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type='input' class='search-input' name='search' placeholder='Where to?')
  button( type='button' onclick='getValueInput()') search
